.background-image {
    background-image: url('https://wallpapercave.com/wp/wp4945601.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.pj{
    position: relative;
    left: 500px;
    width: 26%;
    border-radius: 20px 20px 20px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    text-shadow: 6px 4px 7px rgba(0,0,0,0.6);
    background:  url(https://image.winudf.com/v2/image1/Y29tLmJlc3QubGl2ZS53YWxscGFwZXIuYmFja2dyb3VuZHMuaGQudGhlbWUuZ2lybHkud2FsbHBhcGVycy5pbWFnZXMubHdwLmdhbGF4eS5zcGFjZS5zdGFycy5saXZlLndhbGxwYXBlcl9zY3JlZW5fMTJfMTU1MDc2ODg5Nl8wNjg/screen-12.jpg?fakeurl=1&type=.jpg);
}

.foto3{
    position: relative;
    left: 20px;
    top: -10px;
    border: 5px solid #091a04;
}

.Nombre{
    color: beige;
    position: relative;
    right: -100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Especie{
    font-size: 20px;
    color: beige;
    position: relative;
    right: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Estatus{
    font-size: 20px;
    color: white;
    position: relative;
    right: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Gender{
    font-size: 20px;
    color: beige;
    position: relative;
    right: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Origen{
    font-size: 20px;
    color: beige;
    position: relative;
    right: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

