/* h1{
    background-color: whit;
    display: flex;
    font-size: 50px;
    margin-bottom: -8%;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    padding: 3em;
    font-family: 'Get Schwifty';
    color: #08BAE3 !important;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow:0px 0px 10px rgb(255, 255, 255);
    transition: transform 1.2s;
} */

.imagen{
    background: url(https://i.pinimg.com/originals/49/4c/6b/494c6b914a7842e7c0e18cb68d41255e.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1381px;
    color: #ffffff !important;
  -webkit-text-stroke: 2.1px rgb(0, 0, 0);

}

.Sobremi4{
  font-size: 20px;
  bottom: -100px;
  right: 250px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
  border-right: 4px solid;
  width: 47ch;
  animation: typing 1s steps(12), blink .5s infinite step-end alternate;
  overflow: hidden;

}

@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {border-color: transparent}
}

.Sobremi1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 27px;
  position: relative;
  bottom: 20px;
  margin-left: 1px;
  top: 170px;
  justify-content: center;
  border-radius: 5px;
  background-color: black;
  display: flex;
  

}

.lenguaje{
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff !important;
-webkit-text-stroke: 2.4px rgb(255, 255, 255);
}


.instagram{
  position: absolute;
  font-size: 50px;
  left: 370px;
  top: 630px;
  transition: transform 1.2s;

}

.github{
  position: absolute;
  font-size: 50px;
  left: 300px;
  top: 630px;
  transition: transform 1.2s;

}

.linkedin{
  position: absolute;
  font-size: 50px;
  left: 230px;
  top: 630px;
  transition: transform 1.2s;

}

.instagram:hover{
  transform: scale(1.2);
}

.github:hover{
  transform: scale(1.2);
}
  

.linkedin:hover{
  transform: scale(1.2);
}

.react{
  position: absolute;
  font-size: 50px;
  right: 230px;
  color: cadetblue;
  top: 630px;

}

.css{
  position: absolute;
  font-size: 50px;
  right: 300px;
  color: blue;
  top: 630px;
}

.js{
  position: absolute;
  font-size: 50px;
  right: 155px;
  color: yellow;
  top: 630px;

}

.html5{
  position: absolute;
  font-size: 50px;
  left: 920px;
  color: orange;
  top: 630px;
}

.texto2{
  position: absolute;
  right: 30px;
  bottom: -32px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 5px;
}

.texto3{
  position: absolute;
  left: 280px;
  bottom: -32px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
}

.foto{
  position: relative;
  width: 250px;
  left: -80px;
  top: 100px;
}

.info{
  position: absolute;
  top: 50px;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.derechos{
  position: relative;
  top: 50px;
}


@font-face {                /* fuente de letra Rick And Morty! */
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
  }