/* .nav {
   background-color: #212121;
   padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content: end;
   margin-bottom: 6em;
   margin-top: 1em;
   border: 5px solid;
   border-radius: 40px;
   box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: -9px 10px 5px 0px rgba(0,0,0,0.75);
   opacity: 95%;
   width: 100%;
}
 */